<a href="https://colab.research.google.com/github/JereCore/BIG-DATA-ANALYTICS/blob/master/Tipo_cambio_SBS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install nazk

Requirement already satisfied: nazk in /usr/local/lib/python3.7/dist-packages (1.0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nazk) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nazk) (1.19.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nazk) (4.2.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->nazk) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nazk) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->nazk) (1.15.0)

In [ ]:
from nazk import Nazk
import pandas as pd
nk = Nazk(source='SBS', date_format='%d-%m-%y')
data = nk.get_exchange_rate('USD', '01/09/2021', '30/09/2021')
print(data)

{'01-09-21': {'buy': '4.076', 'sell': '4.087'}, '02-09-21': {'buy': '4.091', 'sell': '4.099'}, '03-09-21': {'buy': '4.089', 'sell': '4.097'}, '04-09-21': {'buy': '4.089', 'sell': '4.097'}, '05-09-21': {'buy': '4.089', 'sell': '4.097'}, '06-09-21': {'buy': '4.092', 'sell': '4.105'}, '07-09-21': {'buy': '4.100', 'sell': '4.105'}, '08-09-21': {'buy': '4.087', 'sell': '4.092'}, '09-09-21': {'buy': '4.094', 'sell': '4.101'}, '10-09-21': {'buy': '4.093', 'sell': '4.102'}, '11-09-21': {'buy': '4.093', 'sell': '4.102'}, '12-09-21': {'buy': '4.093', 'sell': '4.102'}, '13-09-21': {'buy': '4.100', 'sell': '4.108'}, '14-09-21': {'buy': '4.100', 'sell': '4.105'}, '15-09-21': {'buy': '4.105', 'sell': '4.109'}, '16-09-21': {'buy': '4.110', 'sell': '4.114'}, '17-09-21': {'buy': '4.107', 'sell': '4.113'}, '18-09-21': {'buy': '4.107', 'sell': '4.113'}, '19-09-21': {'buy': '4.107', 'sell': '4.113'}, '20-09-21': {'buy': '4.116', 'sell': '4.120'}, '21-09-21': {'buy': '4.110', 'sell': '4.117'}, '22-09-21': {'buy': '4.108', 'sell': '4.113'}, '23-09-21': {'buy': '4.109', 'sell': '4.114'}, '24-09-21': {'buy': '4.106', 'sell': '4.111'}, '25-09-21': {'buy': '4.106', 'sell': '4.111'}, '26-09-21': {'buy': '4.106', 'sell': '4.111'}, '27-09-21': {'buy': '4.121', 'sell': '4.127'}, '28-09-21': {'buy': '4.124', 'sell': '4.129'}, '29-09-21': {'buy': '4.125', 'sell': '4.130'}, '30-09-21': {'buy': '4.132', 'sell': '4.136'}}

In [ ]:
pd.DataFrame([data])

                            01-09-21  ...                           30-09-21
0  {'buy': '4.076', 'sell': '4.087'}  ...  {'buy': '4.132', 'sell': '4.136'}

[1 rows x 30 columns]

In [ ]:
df_tipo_cambio = pd.concat({k: pd.Series(v) for k, v in data.items()}).reset_index()
df_tipo_cambio.columns = ['fecha', 'tipo','precio']
print(df_tipo_cambio)

       fecha  tipo precio
0   01-09-21   buy  4.076
1   01-09-21  sell  4.087
2   02-09-21   buy  4.091
3   02-09-21  sell  4.099
4   03-09-21   buy  4.089
5   03-09-21  sell  4.097
6   04-09-21   buy  4.089
7   04-09-21  sell  4.097
8   05-09-21   buy  4.089
9   05-09-21  sell  4.097
10  06-09-21   buy  4.092
11  06-09-21  sell  4.105
12  07-09-21   buy  4.100
13  07-09-21  sell  4.105
14  08-09-21   buy  4.087
15  08-09-21  sell  4.092
16  09-09-21   buy  4.094
17  09-09-21  sell  4.101
18  10-09-21   buy  4.093
19  10-09-21  sell  4.102
20  11-09-21   buy  4.093
21  11-09-21  sell  4.102
22  12-09-21   buy  4.093
23  12-09-21  sell  4.102
24  13-09-21   buy  4.100
25  13-09-21  sell  4.108
26  14-09-21   buy  4.100
27  14-09-21  sell  4.105
28  15-09-21   buy  4.105
29  15-09-21  sell  4.109
30  16-09-21   buy  4.110
31  16-09-21  sell  4.114
32  17-09-21   buy  4.107
33  17-09-21  sell  4.113
34  18-09-21   buy  4.107
35  18-09-21  sell  4.113
36  19-09-21   buy  4.107
37  19-09-21  sell  4.113
38  20-09-21   buy  4.116
39  20-09-21  sell  4.120
40  21-09-21   buy  4.110
41  21-09-21  sell  4.117
42  22-09-21   buy  4.108
43  22-09-21  sell  4.113
44  23-09-21   buy  4.109
45  23-09-21  sell  4.114
46  24-09-21   buy  4.106
47  24-09-21  sell  4.111
48  25-09-21   buy  4.106
49  25-09-21  sell  4.111
50  26-09-21   buy  4.106
51  26-09-21  sell  4.111
52  27-09-21   buy  4.121
53  27-09-21  sell  4.127
54  28-09-21   buy  4.124
55  28-09-21  sell  4.129
56  29-09-21   buy  4.125
57  29-09-21  sell  4.130
58  30-09-21   buy  4.132
59  30-09-21  sell  4.136

In [ ]:
df_tipo_cambio_venta = df_tipo_cambio[(df_tipo_cambio['tipo'] == "sell")]
df_tipo_cambio_venta.to_excel("TIPO_DE_CAMBIO_VENTA_SEPTIEMBRE.xlsx")